.row
  .small-12.columns
    %p This is the homepage for a prototype emergency SMS relay system for southwest Montréal. It’s simple for now but can grow as we discover our needs.
    -if RelaySettings.display_number
      %p
        -if @relay.present?
          =@relay.number
          is the number all the commands below should be sent to. This could change in the future.
        -else
          There appears to be no phone number associated with the relay?!
%section.row
  .large-6.small-12.columns
    %h2 Subscribing
    =txt_pair('subscribe', t('txts.welcome', relay_name: 'the relay', subscriber_name: 'anon', subscriber_count: t('other', count: @subscriber_count)))
    .row
      .small-12.columns
        %p Optionally, specify a name when subscribing.
    =txt_pair('subscribe alice', t('txts.welcome', relay_name: 'the relay', subscriber_name: 'alice', subscriber_count: t('other', count: @subscriber_count)))
  .large-6.small-12.columns
    %h2 Unsubscribing
    =txt_pair('unsubscribe', '(this message is intercepted by the text message gateway and out of our control. you need to send \'start\' to get back in communication with the relay.)')

%section.row
  .large-6.small-12.columns
    %h2 Relay a message
    =txt_pair('there\'s a tornado destroying super c!', t('txts.relayed', subscriber_count: t('subscribers', count: @subscriber_count)), sender: 'alice')
    %p Other subscribers will receive the message like this:
    -%w{francine pascal}.each do |name|
      =txt_pair('', "@alice sez: there's a tornado destroying super c!", receiver: name)
  .large-6.small-12.columns
    %h2 Etiquette
    %p
      This is just being tested for now, but be careful anyway?
      %ul
        %li Don’t send fake emergency messages! Creating a panic isn’t fun times.
        %li Test/information messages are good to exercise the system, but be mindful that other subscribers will be receiving them.
        %li Plus, each incoming and outgoing message costs the developer $0.01.
        %li Therefore, don’t spam!

%section.row
  .large-6.small-12.columns
    %h2 About
    =txt_pair('about', t('txts.help', subscriber_count: t('other', count: @subscriber_count)))
  .large-6.small-12.columns
    %h2 Names
    =txt_pair('name', t('txts.name', name: 'anon'))
    =txt_pair('name bob', t('txts.name', name: 'bob'))

%section.row
  .large-6.small-12.columns
    %h2 Direct messaging
    -message = '@alice see you there!'
    =txt_pair(message, t('txts.direct.sent', target_name: '@alice'))
    %p @alice will receive the message like this:
    =txt_pair('', t('txts.direct.outgoing', prefix: '', sender: '@bob', message: message))

-if current_user.try(:admin?)
  %section.row
    .small-12.columns
      %p The following commands are admin-only.
  %section.row
    .large-6.small-12.columns
      %h2 Create a new relay
      =txt_pair('create temp', t('txts.admin.create', admin_name: '@admin', relay_name: 'temp'), sender: 'admin', receiver: 'admin, from new #')
    .large-6.small-12.columns
      %h2 Who
      -replies = who_messages(Subscriber.all)
      =txt_pair('/who', replies.first, sender: 'admin')
      -if replies.length > 1
        =txt_pair('', replies[1])
      -if replies.length > 2
        =txt_pair('', '…')
      %p The * indicates an admin.
  %section.row
    .large-6.small-12.columns
      %h2 Freeze/thaw
      =txt_pair('/freeze', t('txts.freeze', admin_name: '@admin'), sender: 'admin')
      =txt_pair('everyone okay?', t('txts.frozen'), sender: 'francine')
      =txt_pair('/thaw', t('txts.thaw', admin_name: '@admin'), sender: 'admin')
    .large-6.small-12.columns
      %h2 Mute/unmute
      =txt_pair('i keep spamming the list!', t('txts.relayed', subscriber_count: t('subscribers', count: 1337)), sender: 'rogers')
      =txt_pair('/mute @rogers', t('txts.mute', mutee_name: '@rogers', admin_name: '@admin'), sender: 'admin')
      =txt_pair('i want to spam again!', t('txts.muted_fail'), sender: 'rogers')
      =txt_pair('', t('txts.muted_report', mutee_name: '@rogers', muted_message: 'i want to spam again!'), receiver: 'admin')
      =txt_pair('/unmute @rogers', t('txts.unmute', unmutee_name: '@rogers', admin_name: '@admin'), sender: 'admin')
  %section.row
    .large-6.small-12.columns
      %h2 Close/open
      =txt_pair('/close', t('txts.admin.close', admin_name: '@admin'), sender: 'admin')
      =txt_pair('subscribe nefarious', t('txts.close'), sender: '+15145551212')
      =txt_pair('', t('txts.bounce_notification', number: '+15145551212', message: 'subscribe nefarious'), receiver: 'admin')
      =txt_pair('/open', t('txts.admin.open', admin_name: '@admin'), sender: 'admin')
    .large-6.small-12.columns
      %h2 Rename
      =txt_pair('/rename awesome', t('txts.rename', relay_name: 'awesome'), sender: 'admin')
  %section.row
    .large-6.small-12.columns
      %h2 Clear
      =txt_pair('/clear', t('txts.admin.clear'), sender: 'admin')
    .large-6.small-12.columns
      %h2 Delete
      =txt_pair('/delete', t('txts.admin.delete', admin_name: '@admin'), sender: 'admin')
  %section.row
    .large-6.small-12.columns
      %h2 Admin/unadmin
      -response=t('txts.admin.admin', adminer_name: '@admin', adminee_name: '@francine')
      =txt_pair('/admin @francine', response, sender: 'admin', receiver: 'admin')
      =txt_pair('', response, receiver: 'francine')

      =txt_pair('/unadmin @francine', t('txts.admin.unadmin', unadminer_name: '@admin', unadminee_name: '@francine'), sender: 'admin', receiver: 'admin')
    .large-6.small-12.columns
      %h2 Moderation and voice
      =txt_pair('/moderate', t('txts.admin.moderate', admin_name: '@admin'), sender: 'admin')
      =txt_pair('come to my party!', t('txts.moderated_fail'), sender: '+15145551212')
      =txt_pair('', t('txts.moderated_report', subscriber_name: 'anon#+15145551212', moderated_message: 'come to my party!'), receiver: 'admin')
      =txt_pair('/voice @alice', t('txts.voice', admin_name: '@admin', voicee_name: '@alice'), sender: 'admin')
      =txt_pair('we need support!', t('txts.relayed', subscriber_count: t('subscribers', count: @subscriber_count)), sender: 'alice')
      =txt_pair('/unvoice @bob', t('txts.unvoice', admin_name: '@admin', unvoicee_name: '@bob'), sender: 'admin')
      =txt_pair('/unmoderate', t('txts.admin.unmoderate', admin_name: '@admin'), sender: 'admin')
  %section.row
    .large-6.small-12.columns
      %h2 Timestamps
      -timestamp = '%l:%M'
      =txt_pair("/timestamp #{timestamp}", t('txts.admin.timestamp', admin_name: 'admin', timestamp: timestamp), sender: 'admin')
      %p For details on how to format the timestamp, visit #{link_to "strftime.org", "http://strftime.org/"}. The example timestamp is (hours in 12-hour format):(minutes).
      -relay_message = 'come to berri square! the rev!'
      -message = '@alice on my way'
      =txt_pair(relay_message, t('txts.relayed', subscriber_count: t('subscribers', count: @subscriber_count)), sender: 'alice')
      =txt_pair('', "#{Time.zone.now.strftime(timestamp).strip} @alice sez: #{relay_message}", receiver: "bob")
      =txt_pair(message, t('txts.direct.sent', target_name: '@alice'), sender: 'bob')
      =txt_pair('', t('txts.direct.outgoing', prefix: "#{Time.zone.now.strftime(timestamp).strip} ", sender: '@bob', message: message), receiver: 'alice')

%section.row
  .large-6.small-12.columns
    %h2 Feedback
    %p Things to consider:
    %ul
      %li was it easy to sign up?
      %li did you experience any bugs?
      %li or other confusions?
      %li do you have any suggestions?
    %p For now, please email the developer. The address is the letter “b” followed by the domain chromatin.ca.
  .large-6.small-12.columns
    %h2 Features to come
    %ul
      %li text-to-speech of relayed messages to non-mobile phones
      %li banning a user
      %li got others? let the developer know
    %p And maybe… open sourcing!


%section.row.credits
  %p Developed by #{link_to 'chromatin', 'http://chromatin.ca/'}
  %p
    <a href="http://thenounproject.com/noun/radio-tower/#icon-No1316" target="_blank">Radio Tower</a> designed by <a href="http://thenounproject.com/johncaserta" target="_blank">John Caserta</a> from The Noun Project
