.row
  .small-12.columns
    %p=t '.summary'
    -if RelaySettings.display_number
      %p
        -if @relay.present?
          =@relay.number
          =t '.display_number.number_explanation'
        -else
          =t '.display_number.no_number'
%section.row
  .large-6.small-12.columns
    %h2=t '.subscribing.heading'
    =txt_pair(t('commands.subscribe'), t('txts.welcome', relay_name: t('.subscribing.relay_name'), subscriber_name: t('subscribers.anon'), subscriber_count: t('other', count: @subscriber_count)))
    .row
      .small-12.columns
        %p=t('.subscribing.giving_a_name')
    =txt_pair("#{t 'commands.subscribe'} #{t '.subscribing.subscriber'}", t('txts.welcome', relay_name: t('.subscribing.relay_name'), subscriber_name: t('.subscribing.subscriber'), subscriber_count: t('other', count: @subscriber_count)))
  .large-6.small-12.columns
    %h2=t '.unsubscribing.heading'
    =txt_pair(t('commands.unsubscribe'), t('.unsubscribing.response'))

%section.row
  .large-6.small-12.columns
    %h2=t '.relaying.heading'
    =txt_pair(t('.relaying.message'), t('txts.relayed', subscriber_count: t('subscribers', count: @subscriber_count)), sender: t('.relaying.sender'))
    %p=t '.relaying.recipient_explanation'
    -[t('.relaying.other_receiver_1'), t('.relaying.other_receiver_2')].each do |name|
      =txt_pair('', RelayedTxtFormatter.new(relay: Relay.new, sender: Subscriber.new(name: t('.relaying.sender')), txt: Txt.new(body: t('.relaying.message'))).format, sender: t('.relaying.sender'), message: t('.relaying.message'), receiver: name)
  .large-6.small-12.columns
    %h2=t '.etiquette.heading'
    %p
      %ul
        %li=t '.etiquette.no_fake_emergencies'
        %li=t '.etiquette.others_will_receive'
        %li=t '.etiquette.will_cost_money'
        %li=t '.etiquette.no_spam'

%section.row
  .large-6.small-12.columns
    %h2=t '.about.heading'
    =txt_pair(t('commands.help'), t('txts.help', subscriber_count: t('other', count: @subscriber_count)))
  .large-6.small-12.columns
    %h2=t '.names.heading'
    =txt_pair(t('commands.name'), t('txts.name', name: t('subscribers.anon')))
    =txt_pair("#{t('commands.name')} #{t('.names.new_name')}", t('txts.name', name: t('.names.new_name')))

%section.row
  .large-6.small-12.columns
    %h2=t '.direct_messaging.heading'
    -message = t('.direct_messaging.message', target_name: t('.direct_messaging.target_name'))
    =txt_pair(message, t('txts.direct.sent', target_name: "@#{t('.direct_messaging.target_name')}"))
    %p=t '.direct_messaging.explanation', target_name: t('.direct_messaging.target_name')
    =txt_pair('', t('txts.direct.outgoing', prefix: '', sender: "@#{t('.direct_messaging.sender')}", message: message))


%section.row
  .small-12.columns
    %h2=t '.admin.heading'
    %p=t '.admin.explanation'
%section.row
  .large-6.small-12.columns
    %h3=t '.creating.heading'
    =txt_pair("/#{t('commands.create')} #{t('.creating.relay_name')}", t('txts.admin.create', admin_name: "@#{t('.admin_name')}", relay_name: t('.creating.relay_name'), sender: t('.admin_name'), receiver: t('.creating.admin_from_new_number', admin_name: t('.admin_name'))))
  .large-6.small-12.columns
    %h3=t '.who.heading'
    -subscribers = t('.who.people').map{|key, value| Subscriber.new(name: value[:name], number: value[:number])}
    -subscribers.last.admin = true
    -replies = who_messages(subscribers)
    =txt_pair("/#{t('commands.who')}", replies.first, sender: t('.admin_name'))
    -if replies.length > 1
      =txt_pair('', replies[1])
    -if replies.length > 2
      =txt_pair('', '…')
    %p=t '.who.admin_note'
%section.row
  .large-6.small-12.columns
    %h3=t '.freezing.heading'
    =txt_pair("/#{t('commands.freeze')}", t('txts.freeze', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
    =txt_pair(t('.freezing.blocked_message'), t('txts.frozen'), sender: t('.freezing.sender'))
    =txt_pair("/#{t('commands.thaw')}", t('txts.thaw', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
  .large-6.small-12.columns
    %h3=t '.muting.heading'
    =txt_pair(t('.muting.annoying_message'), t('txts.relayed', subscriber_count: t('subscribers', count: 1337)), sender: t('.muting.muted'))
    =txt_pair("/#{t('commands.mute')} #{t('.muting.addressable_muted')}", t('txts.admin.mute', target_name: t('.muting.addressable_muted'), admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
    =txt_pair(t('.muting.blocked_annoying_message'), t('txts.muted_fail'), sender: t('.muting.muted'))
    =txt_pair('', t('txts.muted_report', mutee_name: t('.muting.addressable_muted'), muted_message: t('.muting.blocked_annoying_message')), receiver: t('.admin_name'))
    =txt_pair("/#{t('commands.unmute')} #{t('.muting.addressable_muted')}", t('txts.admin.unmute', target_name: t('.muting.addressable_muted'), admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
%section.row
  .large-6.small-12.columns
    %h3=t('.closing.heading')
    =txt_pair("/#{t('commands.close')}", t('txts.admin.close', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
    -subscribe_message = "#{t('commands.subscribe')} #{t('.closing.blocked_name')}"
    =txt_pair(subscribe_message, t('txts.close'), sender: t('.closing.blocked_number'))
    =txt_pair('', t('txts.bounce_notification', number: t('.closing.blocked_number'), message: subscribe_message), receiver: t('.admin_name'))
    =txt_pair("/#{t('commands.open')}", t('txts.admin.open', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
  .large-6.small-12.columns
    %h3=t '.renaming.heading'
    =txt_pair("/#{t('commands.rename')} #{t('.renaming.new_relay_name')}", t('txts.rename', relay_name: t('.renaming.new_relay_name'), sender: t('.admin_name')))
%section.row
  .large-6.small-12.columns
    %h3=t '.clearing.heading'
    =txt_pair("/#{t('commands.clear')}", t('txts.admin.clear'), sender: t('.admin_name'))
  .large-6.small-12.columns
    %h3=t '.deleting.heading'
    =txt_pair("/#{t('commands.delete')}", t('txts.admin.delete', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
%section.row
  .large-6.small-12.columns
    %h3=t '.adminning.heading'
    -response=t('txts.admin.admin', adminer_name: t('.addressable_admin_name'), adminee_name: t('.adminning.addressable_adminee_name'))
    =txt_pair("/#{t('commands.admin')} #{t('.adminning.addressable_adminee_name')}", response, sender: t('.admin_name'), receiver: t('.admin_name'))
    =txt_pair('', response, receiver: t('.adminning.adminee_name'))

    =txt_pair("/#{t('commands.unadmin')} #{t('.adminning.addressable_adminee_name')}", t('txts.admin.unadmin', unadminer_name: t('.addressable_admin_name'), unadminee_name: t('.adminning.addressable_adminee_name')), sender: t('.admin_name'), receiver: t('.admin_name'))
  .large-6.small-12.columns
    %h3=t '.moderating.heading'
    =txt_pair("/#{t('commands.moderate')}", t('txts.admin.moderate', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
    =txt_pair(t('.moderating.moderated_message'), t('txts.moderated_fail'), sender: t('.moderating.moderated_number'))
    =txt_pair('', t('txts.moderated_report', subscriber_name: "anon##{t('.moderating.moderated_number')}", moderated_message: t('.moderating.moderated_message')), receiver: t('.admin_name'))
    =txt_pair("/#{t('commands.voice')} #{t('.moderating.addressable_voiced_name')}", t('txts.admin.voice', admin_name: t('.addressable_admin_name'), target_name: t('.moderating.addressable_voiced_name')), sender: t('.admin_name'))
    =txt_pair(t('.moderating.relayed_message'), t('txts.relayed', subscriber_count: t('subscribers', count: @subscriber_count)), sender: t('.moderating.voiced_name'))
    =txt_pair("/#{t('commands.unvoice')} #{t('.moderating.addressable_unvoiced_name')}", t('txts.admin.unvoice', admin_name: t('.addressable_admin_name'), target_name: t('.moderating.addressable_unvoiced_name')), sender: t('.admin_name'))
    =txt_pair("/#{t('commands.unmoderate')}", t('txts.admin.unmoderate', admin_name: t('.addressable_admin_name')), sender: t('.admin_name'))
%section.row
  .large-6.small-12.columns
    %h3=t '.timestamping.heading'
    -timestamp = t('.timestamping.example_timestamp')
    -relay = Relay.new(timestamp: timestamp)
    -relayer = Subscriber.new(name: t('.timestamping.relay_sender'))
    =txt_pair("/#{t('commands.timestamp')} #{timestamp}", t('txts.admin.timestamp', admin_name: t('.admin_name'), timestamp: timestamp), sender: t('.admin_name'))
    %p=t('.timestamping.link_html', link: link_to("strftime.org", "http://strftime.org/"))
    -relay_message = t('.timestamping.relayed_message')
    -message = t('.timestamping.direct_message')
    =txt_pair(relay_message, t('txts.relayed', subscriber_count: t('subscribers', count: @subscriber_count)), sender: t('.timestamping.relay_sender'))
    =txt_pair('', RelayedTxtFormatter.new(relay: relay, sender: relayer, txt: Txt.new(body: t('.timestamping.relayed_message'), created_at: Time.now)).format, receiver: t('.timestamping.direct_sender'))
    =txt_pair(message, t('txts.direct.sent', target_name: "@#{t('.timestamping.relay_sender')}"), sender: t('.timestamping.direct_sender'))
    =txt_pair('', t('txts.direct.outgoing', prefix: "#{Time.zone.now.strftime(timestamp).strip} ", sender: "@#{t('.timestamping.direct_sender')}", message: message), receiver: t('.timestamping.relay_sender'))

%section.row
  .large-6.small-12.columns
    %h2=t('.feedback.heading')
    %p=t('.feedback.list_introduction')
    %ul
      %li=t('.feedback.easy')
      %li=t('.feedback.bugs')
      %li=t('.feedback.confusions')
      %li=t('.feedback.suggestions')
    %p=t('.feedback.link_html', link: link_to(t('.feedback.link_text'), "https://github.com/backspace/retxt/issues"))


%section.row.credits
  %p=t('.footer.developer_html', link: link_to('chromatin', 'http://chromatin.ca/'))
  %p=t('.footer.image_credit_html', icon: '<a href="http://thenounproject.com/noun/radio-tower/#icon-No1316" target="_blank">Radio Tower</a>'.html_safe, designer: '<a href="http://thenounproject.com/johncaserta" target="_blank">John Caserta</a>'.html_safe)
