.row
  %table
    %thead
      %tr
        %th #
        %th name
        %th admin?
        %th sent
        -@relays.each do |relay|
          %th[relay]{class: "#{relay.frozen ? "frozen" : ''} #{relay.closed ? 'closed' : ''}"}
            .name=relay.name
            .number=relay.number
            -if relay.frozen
              (frozen)
            -if relay.closed
              (closed)
    %tbody
      -@subscribers.each do |subscriber|
        %tr[subscriber]{class: subscriber.admin ? "admin" : ""}
          %td=subscriber.number
          %td=subscriber.name_or_anon
          %td=subscriber.admin? ? check : cross
          %td.sent=subscriber.sent.count
          -@relays.each do |relay|
            -if relay.subscribed?(subscriber)
              -frozen = relay.frozen
              -muted = relay.subscription_for(subscriber).muted
              %td{class: "relay_#{relay.id} subscriber_#{subscriber.id} #{muted ? 'muted' : ''} #{frozen ? 'frozen' : ''}"}
                =check
                -if muted
                  (muted)
            -else
              %td
